<div class="container mt-5">
  <form class="b-form" [formGroup]="newForm">
    <div class="row">
      <div class="col">
        <h1>My First Currency Converter</h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [formControl]="montant">
          <div class="input-group-append">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ fromm }}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let currency of currencies" (click)="fromm = curr">{{ curr }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 text-center">
        <i class="fas fa-arrows-alt-h"></i>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ to }}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let currency of currencies" (click)="to = curr">{{ curr }}</button>
              </div>
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [formControl]="arrivee">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-rounded btn-block btn-success float-right mr-3" (click)="onSubmit()"><i class="fa fa-check"></i> Valider</button>
      </div>
    </div>
  </form>
</div>